/* wkhtmltopdf specific */

html,
body,
input,
select,
textarea {
	font-size: inherit;
}

small,
small * {
	font-size: 14px;
}

body {
	color: #000;
}

/* Lists */

.list-wrapper {
	/* Fix wkhtmltopdf issue where table header overlaps first row */
	/* @link https://www.rosariosis.org/forum/d/91-print-row-in-table-header-overflow-wkhtmltopdf */
	overflow-x: visible;
	/* Revert fix for ChosenSelect overflow
	@link https://github.com/harvesthq/chosen/issues/86#issuecomment-410044171 */
	padding-bottom: 0;
	margin-bottom: 0;
}

/* @since 10.9 */

/* Set Report Cards Comments column (max) width to 36% */

.modname-grades-reportcards-php .list .list-column-comment {
	width: 36%;
}

/* @since 4.3 */

.wkhtmltopdf-header,
.wkhtmltopdf-footer {
	width: auto;
	height: auto;
}

.wkhtmltopdf-portrait {
	width: 994px;
}

.wkhtmltopdf-landscape {
	width: 1405px;
}

/* wkhtmltopdf reset */

html,
body {
	word-break: normal;
}
